.main-container {
    height: 100%;
    display: flex;
    top: 0px;
    height: 100vh;
}
.main-container .right {
  width: 50%;
  height: 70vh;
  
}
.main-container .left .logo{
  margin-left:-80px;
}
.main-container .left {
  width: 50%;
  height: 100vh;
  margin:50px;  

}
.main-container input[type="text"],
.main-container select,
.main-container textarea {
  width: 397px;
  height: 55px;
  font-size: 18px;
  background-color:#F4EFF5;
  margin-bottom: 20px;
  resize: vertical;
  display: block;
  border:none;
}
.main-container label {
  font-size: 18px;
  font-family:italic;
  padding: 0px;
  display: block;
  color:#3399FF;
}
.main-container input[type="button"] {
  background-color:#3399FF;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 12px;
  width:397px;
  height: 50px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
.main-container .left img {
  margin-left: 70px;
  margin-top:-200px;
}

.main-container .right h2{
    margin-top:80px;
    margin-bottom: 30px;
    color:#3399FF;
}


@media only screen and (max-width: 529px) {
	.main-container input[type="text"],
	.main-container input[type="button"],
	.main-container select,
	.main-container textarea {
    width: 250px;
    display: inline-block;
    margin-bottom: 30px;
  }
}


@ media only screen and (max-width:529px){
	.main-container .right h2{
		color:purple;
		margin-top= -30px;
	}
}
@media only screen and (max-width: 529px) {
  .main-container .right {
    width: 100%;
    padding: 40px;
  }
}
@media only screen and (max-width: 529px) {
  .main-container .left {
    display: none;
  }
}


